@use 'bootstrap-icons';

$font-stack:    "Lucida Grande", Helvetica, sans-serif;

body {
  padding: 50px;
  font: 14px $font-stack;
}

a {
  color: #000;
}

.nav-link {
  color: white;
}

.width-5 {
  width: 5em;
  max-width: 5em !important;
}
